/* PRESETS */
*{
	box-sizing:border-box;
	overflow:hidden;
}
body,ul,h1{
	margin:0;
	padding:0;
}
.container{
	width:100vw;
	height:100vh;
}
/* MAIN CSS */
.banner{
	width:100%;
	height:100%;
	/*background:pink;*/
	/* creating an overlay*/
	&:after{
		content: '';
		height: 100%;
 		width: 100%;
		position:absolute;
		top:0;
		left:0;
		background-color: rgba(0, 0, 0, 0.1);
  		z-index: 1;
	}
}
/* VERTICALLY CENTERING */
.vcenter{
	text-align:center;
	z-index:40;
	color:red;
	opacity:0;
}

/* APPLYING BACKGROUNDS */
.slider{
	li{
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:50% 50%;
		z-index:0;
		opacity:0;
		transform:scale(2);
		transform-origin:50% 50%;
		transition:all 0.5 ease-in-out;
	}
}

.slider li:nth-child(1){
	background-image:url("https://images.unsplash.com/photo-1428542244207-0aaec316e609?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ%3D%3D&s=9eb667d60114f66b5e13d4aac0d8f46a");
	transition:all 0.5 ease-in-out;
	animation:zoomout 15s linear 0s infinite;
}
.slider li:nth-child(2){
	background-image:url("https://images.unsplash.com/photo-1504764388975-65a8b6efc86c?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ%3D%3D&s=3fa625b6319ba2c331b03612912095bf");
	transition:all 0.5 ease-in-out;
	animation:zoomout 15s linear 5s infinite;
}
.slider li:nth-child(3){
	background-image:url("https://images.unsplash.com/photo-1487517716038-fc131c4ebc6b?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ%3D%3D&s=2f1a31dce5e7ba482f69b83cfa0caa2a");
	transition:all 0.5 ease-in-out;
	animation:zoomout 15s linear 10s infinite;
}


/*  KEYFRAMES */

@keyframes zoomout{
	0%{
		transform:scale(1.2);
		opacity:1;
	}
	30%{
		opacity:0.9;
	}
	34%{
		transform:scale(1);
		opacity:0;
	}
	100%{
		transform:scale(1.2);
		opacity:0;
	}
}